@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v20-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v20-latin-900.woff2") format("woff2");
}
:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand-normal: #819b57;
  --color-brand-light: #cfcfbc;
  --color-secondary-dark: #a28268;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400px;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

a {
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

/* .button:disabled {
    color: gray;
    background-color: lightgray;
    border-color: currentColor;
    cursor: not-allowed;
  } */
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

.link {
  color: var(--color-primary-light);
  text-decoration: none;
  line-height: 1.5;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-brand-normal);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
}
.header .header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(103deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url(../images/hfon.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
  /* word-spacing: 4px; */
  /* letter-spacing: 4px; */
  /* text-shadow: 2px 2px 4px violet; */
  /* text-transform: uppercase; */
}

.hero-title .accent {
  color: var(--color-brand-normal);
}

.advantages-section {
  background-color: var(--color-brand-normal);
  padding: 16px 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--color-primary-light);
  font-weight: 300;
  font-size: 20px;
}

.section-title {
  color: var(--color-primary-dark);
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 84px;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  /* display: block; */
  color: var(--color-brand-dark);
}

/* traditions */
.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-contant {
  max-width: 710px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-text.limited {
  max-width: 340px;
}

/* chef section */
.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

.chef-text p {
  margin-bottom: 24px;
}

.chef-text p:last-child {
  margin-bottom: 0px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
}

.chefs-title {
  display: block;
  position: relative;
  /* max-width: 540px; */
  margin: 0 auto 80px;
}

.chefs-title::before,
.chefs-title::after {
  display: block;
  content: "";
  width: 360px;
  border: 2px solid var(--color-brand-light);
  bottom: 24px;
  position: absolute;
}

.chefs-title::before {
  left: 0px;
}

.chefs-title::after {
  right: 0px;
}

.chef-list {
  display: flex;
  gap: 40px 30px;
  /* flex-wrap: wrap; */
}

.chef-item {
  flex-basis: calc(100% - 15px);
}

.chef-card {
  display: flex;
  gap: 30px;
}

/* format section */
.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  padding: 24px;
  height: 444px;
  width: 349px;
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%);
  border: 1px solid lightgray; /*remove*/
  border-radius: 16px;
  box-shadow: 2px 2px 4px 4px violet;
  transition: transform 2s;
}

.format-card:hover {
  transform: scale(1.2);
}

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* Carousel */
.carusel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0px;
  fill: var(--color-primary-dark);
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
  flex-shrink: 0;
}

.carusel-button:hover {
  background-color: var(--color-primary-dark);
  fill: #011f4a;
  stroke: #fff;
  transition: background-color 0.2s ease;
  fill: var(--color-primary-light);
}

.carusel-button.next {
  transform: rotate(180deg);
}

/* footer link */
.footer {
  padding: 32px 0;
  position: relative;
  background-image: url(../images/footfon.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-address,
.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-menu,
.footer-logo {
  flex-grow: 1;
  gap: 20px;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-normal);
}

.address-social {
  fill: var(--color-primary-light);
}

.address-social:hover {
  fill: var(--color-brand-normal);
}

.address-copyright {
  font-size: 14px;
}

.footer::before {
  position: absolute;
  width: 180px;
  height: 120px;
  background-repeat: no-repeat;
  bottom: 0px;
  background-image: url(../images/bread.png);
  content: "";
}

.footer::after {
  position: absolute;
  background-image: url(../images/bread2.png);
  content: "";
  background-repeat: no-repeat;
  bottom: 0px;
  width: 380px;
  height: 190px;
  right: 0;
}

/* contacts-section */
.contact-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border-radius: 16px;
  border: none;
}

.contact-title {
  margin-bottom: 16px;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 40px;
  transition: opacity 0.5s, visibility 0.5s;
}

.modal {
  width: 100%;
  max-width: 880px;
  max-height: 880px;
  height: 100%;
  background-color: var(--color-primary-light);
  border-radius: 30px;
  position: relative;
  padding: 128px;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Form */
.form-field {
  margin-bottom: 32px;
}

.form-label {
  display: block;
}

.form-input {
  padding: 16px 42px;
  width: 100%;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus {
  border-color: var(--color-brand-normal);
  outline: none;
}

.form-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.17;
  color: var(--color-secondary-dark);
}

.form-input::placeholder {
  font-size: 16px;
  line-height: 1.17;
  color: var(--color-secondary-dark);
}

.form-input:focus::-moz-placeholder {
  color: var(--color-primary-dark);
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.form-terms {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  max-width: 220px;
  margin: 0 auto;
}

.form-terms-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}

/* .checkbox {
  position: relative;
}

.checkbox-input {
  appearance: none;
}

.checkbox-input:checked + .checkbox-label::before {
  background-color: green;
}
.checkbox-label {
  padding: 24px;
}

.checkbox-label::before {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-primary-dark);
  content: '';
  left: 0;
  top: 0;
  margin-top: 5px;
  border-radius: 2px;
} *//*# sourceMappingURL=main.css.map */