.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 40px;
  transition: opacity 0.5s, visibility 0.5s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  width: 100%;
  max-width: 880px;
  max-height: 880px;
  height: 100%;
  background-color: var(--color-primary-light);
  border-radius: 30px;
  position: relative;
  padding: 128px;
  overflow-y: auto;

  &__btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  &__form-field {
    margin-bottom: 32px;
  }
  &__button {
    margin: 0 auto 24px;
  }
}
